* {
    background: url(animation/spacebg.png);
}
#button{
    margin: auto;
    margin-top: 70px;
    width: 100px;
    z-index: 1;
    position: relative;
}
#start {
    cursor:default;
    margin-top: 70px;
    transition: all 0.2s ease;
    font-family: 'Orbitron', sans-serif;
    color: white;
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
#start:hover {
    font-size: 35px;
    transition: all 0.2s ease;
    color: rgb(0, 205, 109);
}
#game{
    background-color: skyblue;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: -120px;
    z-index: 2;
    position: relative;
}
#character{
    left: 50px;
    width: 20px;
    height: 50px;
    position:relative;
    top: 150px;
}
.anima{
    animation: run 0.2s infinite;
}
@keyframes run {
    0% {
        background: url('animation/purple-1.png.png');}
    50% {
        background: url('animation/purple-2.png.png');}
    100% {
        background: url('animation/purple-1.png.png');}
  }
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;
        background: url('animation/purple-2.png.png');}
    30%{top: 85px;
        background: url('animation/purple-2.png.png');}
    70%{top: 85px;
        background: url('animation/purple-2.png.png');}
    100%{top: 150px;
        background: url('animation/purple-2.png.png');}
}
#block{   
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear, fly 0.3s infinite;
}
@keyframes block{
    0%{left: 480px;}
    100%{left: -10px;}
}
@keyframes fly{
    0% {
        background: url('animation/gBird-1.png');}
    50% {
        background: url('animation/gBird-2.png');}
    100% {
        background: url('animation/gBird-1.png');}
  }
/*#block2{
    background: url('animation/tötsä-1.png.png');
    width: 20px;
    height: 20px;
    position: relative;
    top: 110px;
    left: 500px;
    animation: block 5s infinite linear;
}
@keyframes block2{
    0%{left: 480px}
    100%{left: -10px}
}*/
.score, #scoreSpan{
    background: none;
    font-size: 30px;
    margin-top: -40px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: black;
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
#over {
    margin: auto;
    margin-top: -220px;
    width: 600px;
    height: 200px;
    padding: 10px;
    z-index: 3;
    position: relative;
    text-align: center;
    cursor: default;
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
.died{
    text-shadow: 
        1px 1px 1px red,
        1px 2px 1px red;
}
.ot{
    font-family: 'Orbitron', sans-serif;
    color: gold;
    text-shadow: 
        1px 1px 1px gold;
}
#high, .high{
    font-family: 'Orbitron', sans-serif;
    color: dimgray;
}
#canvas {
    position: absolute;
    width: 500px;
    height: 200px;
    z-index: -1;
}